output/*
results/
yaml/*
.idea/
**/__pycache__
**/*.pyc
nohup.out
scp*.sh
**/*.lof
**/*.bcf
**/*.lot
**/*.log
**/*.loa
**/*.out
**/*.aux
**/*.synctex.gz
**/*.toc
**/*.run.xml
**/*.bbl*
**/*.blg
**/*.fdb_*
**/*.fls
**/*.xdv
**/*.DS_Store
**/.*
**/*.ttf
**/*.ttc
**/*.doc
**/*.docx
**/figure/source/**
**/*.pdf
**/*.bmp
**/*.svg
**/*.yaml
**/*.pth
**/*.pkl